* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
nav {
    background-color: black;
    z-index: 1;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    font-size: 20px;
    color: white;
    padding-left: 7px;
}
.nav-phone {
    display: none;
}
.nav-main-container {
    height: 90px;
    width: 100%;
    position: absolute;
}
@media (max-width: 991px) {
    .nav-main-container{
        display: none;
    }
    .nav-phone {
        display: block;
        position: absolute;
        width: 100%;
    }
    
}
.nav-main {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 90px;
    justify-content: space-between;
}
.nav-link-main {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 90px;
}
.logo-main {
    margin-top: 20px;
}
